# CONTRIBUTING.md file
CONTRIBUTING.md

# Source files
src/

# Development files
dev/

# Github actions
.github/

# config files
.editorconfig
.eslintrc.js
.prettierrc.json
.whitesource
babel.config.js
jest.config.js
jest.setup.js
webpack.config.js
yarn.lock
